.sidebar {
    height: 100vh;
    background-color: var(--light-color);
    padding: 10px 12px;
    transition: .2s;
}



.sidebar-header {
    width: 100%;
    text-align: center;

    .header-icon {
        font-size: 20px;
        color: var(--purple-light-color);
    }
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    margin-top: 5.2rem;
    width: 100%;
    list-style: none;
}

.item-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 7px;
    border-radius: 15px;
    padding: 14px;
    text-decoration: none;
    transition: .2s ease-in;
    width: 100% !important;

    &:hover {
        background-color: var(--purple-light-color);

        .link-icon,
        .link-text {
            color: var(--light-color);
        }

    }

    .link-icon {
        font-weight: 800;
        font-size: 23px;
        color: var(--secondary-color);
    }

    .link-text {
        display: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: .5px;
        color: var(--purple-dark-color);
    }
}

.item-link--active {
    background-color: var(--purple-light-color);

    .link-icon,
    .link-text {
        color: var(--light-color);
    }
}


@media only screen and (max-width:662px) {
    .sidebar {
        z-index: 6;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        position: fixed;
        bottom: 0%;
        left: 0;
        width: 100%;
        background-color: var(--light-color);
        height: fit-content;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .sidebar-header {
        display: none;
    }

    .sidebar-menu {
        margin-top: 0;
        width: 100%;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: unset;

        .item-link {
            padding: 12px;
            .link-icon{
                font-size: 24px;
            }

        }
    }
}