:root{
    --light-color: #fff;
    --dark-color: #000;
    --bg-gray: #f7f8fb;
    --secondary-color: #C7C7D2;
    --secondary-dark-color: #4E4E4E;
    --purple-light-color: #563bff;
    --purple-dark-color: #15134B;
}